

.menu-root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: whitesmoke;
    color: gray;
    
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.menu-itemlist {
    padding-top: 0.5em;

    display: flex;
    flex-direction: column;
    height: 16em;
    justify-content: flex-start;
}

.menu-item {
    vertical-align: middle;
    width: var( --menu-item-list-width );
    height: 2em;
    padding-left: 0.5em;

    border-bottom: 1px solid white;
}

.menu-item-active {
    vertical-align: middle;
    width: var( --menu-item-list-width );
    height: 2em;
    padding-left: 0.5em;

    border-bottom: 1px solid white;

    /* 吹き出し */
    position: relative;
}

.menu-item-active::before {
    content: "";
    position: absolute;
    top  : calc( 1em - 0.707em );
    left : calc( var( --menu-item-list-width ) + 0.5em - 0.707em );
    padding: 0.707em; /*1/√2*/

    border-style: none none solid solid;
    border-width: 1px;
    border-color: black;/*gainsboro;*/
    background-color: white;

    transform: rotate(45deg);
}

.menu-palette {
    flex-grow: 1;

    padding-left: 1.5em;
    height: 16em;
    overflow: auto;
    background-color: white;

    border-radius: 0.4em 0 0 0.4em;

    border-style: solid none solid solid;
    border-width: 1px;
    border-color: black;/*gainsboro;*/
}






.menu_button {
    display: block;

    border: 1px solid darkgray;
    border-radius: 2px;
    background-color: royalblue;
    margin: 0.5em;
    padding: 5px;
    color: snow;

    /* ripple effect */
    position: relative;
    overflow: hidden;
}

/* for ripple effect */
.menu_button:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10em; /* この値は目合わせ */
    height: 10em;
    border-radius: 50%;
    opacity: 0;
    background-color: rgba(180, 210, 250,0.7); 
    transition: opacity 1s, width 1s, height 1s;
}

.menu_button:active:after {
    content: "";
    width: 0;
    height: 0;
    opacity: 1;
    transition: opacity 0s, width 0s, height 0s;
}

.menu_button_disabled {
   display: block;

    border: 1px solid darkgray;
    border-radius: 2px;
    color: gray;
    background-color: lightgray;
    margin: 0.5em;
    padding: 5px;
    color: snow;
}


.menu_option_enabled
{
    color : royalblue;
    background-color: snow;
    border: 3px dotted royalblue;
    border-radius: 0.5em;

    margin: 0.5em;
    padding: 0.5em;
}

.menu_option_disabled
{
    color : lightgray;
    background-color: snow; 
    border: 3px dotted lightgray;
    border-radius: 0.5em;

    margin: 0.5em;
    padding: 0.5em;
}
