

.debugger-menu {
    --menu-item-list-width: 12em;
}


.debugger-hbox {
    flex-grow: 2;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
}

.debugger-submenu-title {
    border-right: 1px solid dimgray;
    color: gray;
    width: 10ex;
}

.debuger-table {
    width : 100%;
    font-size: 0.8em;
}

.debuger-table th {
    width: 20ex;
    text-align: left;
}

.debuger-table tr:nth-child(even) {
    background-color: whitesmoke;
}
