
.keybind-menu {
    --menu-item-list-width: 10em;
}


.keybind-hbox {
    flex-grow: 2;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
}

.keybind-item-active {
    background-color: royalBlue;/*lightskyblue;*/
    color: snow;
    font-size: 1.5em;

    border-radius: 0.5em;
    vertical-align: middle;

    padding: 0.8rem;
    height: 1.5rem;

    transition: height 0.5s, fontsize 0.5s, color 0.5s, background-color 0.5s;
}

.keybind-item {
    font-size: 1em;

    height: 1rem;
    padding: 0.8rem;

    transition: height 0.5s, fontsize 0.5s;
}

.keybind-item-list {
    flex-grow: 1;
    max-height: 100%;
    overflow: auto;
}

.keybind-next-button {
    padding: 0 0.5em 0 0.5em;
    width: 3em;
    min-width: 3em;
    max-width: 3em;
    height: 100%;
    display: flex;
    align-items: center;

    border-left: 1px solid black;
}

.keybind-next-button:hover {
    background-color: royalblue;
    color: snow;
}

.keybind-prev-button {
    padding: 0 1em 0 0;
    width: 3em;
    min-width: 3em;
    max-width: 3em;
    height: 100%;
    display: flex;
    align-items: center;

    border-right: 1px solid black;
}

.keybind-prev-button:hover {
    background-color: royalblue;
    color: snow;
}

.keybind-edit-mod-enable {

    font-size: 0.8em;

    color: white;
    background-color: royalblue;
    border: 1px solid gray;

    padding: 0.8em;
    margin: 0.8em;
}

.keybind-edit-mod-disable {

    font-size: 0.8em;

    color: silver;
    background-color: gainsboro;
    border: 1px solid gray;

    padding: 0.8em;
    margin: 0.8em;
}

.keybind-edit-keycode {
    font-size: 1em;
    border: 1px solid gray;

    padding: 1rem;
    margin: 1rem;
    width: 3rem;
}

.keybind-edit-command {
    border: 1px solid gray;
    font-size: 0.8em;

    padding: 1em;
    margin: 1em;
    width: 10em;
}




.keybindmenu-keyeditor-focus {
    position: relative;
}

.keybindmenu-keyeditor-focus::before {
    content: "";

    position: absolute;
    top: 0.2em;
    left: 0.2em;
    width: calc( 100% - 0.4em );
    height: calc( 100% - 0.4em );
    border: 1px solid lightgrey;
    background-color: blue;
    opacity: 0.2;
    border-radius: 0.5em;
}

.keybindmenu-keyeditor-disfocus {

}

.keybindmenu-cmdselector-focus {
    position: relative;
}

.keybindmenu-cmdselector-focus::before {
    content: "";
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    width: calc( 100% - 0.4em );
    height: calc( 100% - 0.4em );
    border: 1px solid lightgrey;
    background-color: blue;
    opacity: 0.2;
    border-radius: 0.5em;
}

.keybindmenu-cmdselector-disfocus {
}

.keybindmenu-insertcmd-input-focus {
    position: relative;
}

.keybindmenu-insertcmd-input::before {
    content: "";
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    width: calc( 100% - 0.4em );
    height: calc( 100% - 0.4em );
    border: 1px solid lightgrey;
    background-color: blue;
    opacity: 0.2;
    border-radius: 0.5em;
}

.keybindmenu-insertcmd-input-disfocus {
}




.keybindmenu-editsupport {
    padding: 1em 5px 0 3em;

    flex-grow: 1;
    align-self: flex-end;
    width: calc( 100% - 5px - 3em );
}

.keybindmenu-cmdlist {
    max-height: 7em;
    overflow: auto;

    border-radius: 1.5em 0 0 1.5em / 1em 0 0 1em;
    border: 2px dotted  gainsboro;
}

.keybindmenu-cmditem-selected {
    background-color: royalblue;
    color: snow;

    padding: 0.2em;
    padding-left: 1.5em;

    border-bottom: 1px dotted gray;
}

.keybindmenu-cmditem {
    background-color: snow;

    padding: 0.2em;
    padding-left: 1.5em;

    border-bottom: 1px dotted gray;
}
